.product-container {
    display: grid;
    justify-content: center;
    align-items: center;
}

.product-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--card-color);
    border-radius: 15px;
    cursor: pointer;
}

.product-images {
    position: relative;
}

.product-status {
    font-size: 14px;
    position: absolute;
    background: var(--card-color);
    border-radius: 15px;
    z-index: 1;
    top: 1;
    padding: 5px;
    font-family: var(--main-font);
    font-weight: 500;
    color: var(--text-color-one);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 5px;
}

.product-ref {
    font-size: 10px;
    position: absolute;
    border-radius: 15px;
    z-index: 2;
    padding: 5px;
    font-family: var(--main-font);
    font-weight: 500;
    color: var(--text-color-two);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 5px;
    bottom: 0;
}

.product-img {
    width: 270px !important; 
    height: 270px !important;
    border-radius: 20px;
    transition: filter 0.3s ease-in-out;
    filter: brightness(0.6);
    object-fit: cover;
}

.product-img:hover {
    filter: brightness(0.5);
}

.product-infos {
    display: flex;
    flex-direction: column;
    font-family: var(--main-font);
    color: var(--text-color-one);
    padding: 5px;
    width: 270px !important;
}

.infos-details {
    display: flex;
    gap: 10px;
}

.product-city {
    font-family: var(--main-font);
    color: var(--text-color-one);
    font-size: 18px;
    font-weight: 600;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.product-address {
    font-family: var(--main-font);
    color: var(--text-color-one);
    font-size: 14px;
    font-weight: 400;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.product-neighborhood {
    font-size: 16px;
    font-weight: 500;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.product-category {
    font-size: 14px;
    display: flex;
    font-weight: 400;
    ;
}

.product-dimension {
    display: flex;
    align-items: center;
    gap: 5px;
    font-weight: 600;
}

.product-icon {
    padding: 2px;
    color: var(--text-color-one);
}

.product-size {
    font-size: 14px;
    font-weight: 400;
}

.product-oldPrice {
    font-family: var(--main-font);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.product-oldPrice s {
    font-size: 12px;
    color: var(--text-color-one);
    font-weight: 600;
}

.product-price-mod {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.first-item {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 5px;
    width: 100%;
    margin: 3px 0;
}

.infos-profile {
    display: flex;
    align-items: center;
    gap: 5px;
}

.infos-profile p {
    font-size: 14px;
    font-weight: 600;

}

.product-profile {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    object-fit: cover;
    border: 1px solid var(--btn-color-one);
}

.icon-profile {
    color: var(--btn-color-one);
}

.product-price {
    color: var(--text-color-one);
    font-family: var(--main-font);
    font-size: 18px;
    font-weight: 500;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.product-type {
    display: flex;
    justify-content: start;
    align-items: center;
    font-size: 14px;
    color: var(--text-color-one);
    text-align: center;
    gap: 2px;
}

.pagination-dots {
    display: flex;
    justify-content: center;
    margin: 20px;
}

.pagination-dots .dot {
    padding: 5px 10px;
    margin: 0 5px;
    cursor: pointer;
    border-radius: 50%;
    background-color: var(--card-color);
    color: var(--text-color-one);
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-family: var(--main-font);
    font-size: 12px;
}

.pagination-dots .dot.active {
    background-color: var(--btn-color-one);
    color: white;
}

.pagination-dots .dot:hover {
    background-color: #ddd;
}

.infos-details {
    display: flex;
    align-items: center;
    gap: 2px;
}

.product-video {
    margin-top: 10px;
    width: 100%;
    height: auto;
}

.product-video-element {
    width: 100%;
    height: auto;
    border-radius: 8px;
    border: 1px solid #ccc;
}

@media (max-width: 768px) {
    .product-list {
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
    }

    .product-img {
        width: 280px;
        height: 250px;
    }

    .product-infos {
        width: 280px;
    }

    .product-type {
        font-size: 8px;
        padding: 10px;
        border-radius: 25px;
    }

    .product-price {
        font-size: 24px;
    }

    .product-list {
        max-height: 80vh;
        overflow: hidden;
    }

    .pagination-dots {
        margin-top: 20px;
    }
}

@media (max-width: 480px) {
    .product-card {
        border-radius: 5px;
        margin: 0;
    }

    .product-img {
        width: 180px !important;
        height: 200px !important;
        border-radius: 5px;
    }

    .product-infos {
        width: 180px !important;
        justify-content: start;
    }

    .product-address {
        font-size: 12px;
    }

    .infos-details {
        flex-direction: column;
        justify-content: start;
        align-items: start;
    }

    .product-category,
    .product-dimension,
    .product-status,
    .product-type,
    .product-neighborhood,
    .product-icon,
    .product-list,
    .product-size {
        font-size: 12px;
        font-weight: 400;
    }

    .product-price {
        font-size: 18px;
    }

    .product-list {
        height: 80vh;
        overflow: hidden;
    }

    .infos-profile p {
        font-size: 10px;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    .product-list {
        grid-template-columns: repeat(3, 1fr);
    }

    .product-img {
        width: 230px;
        height: 230px;
    }

    .product-infos {
        width: 230px;
        justify-content: center;
    }

    .infos-details {
        width: 230px;
        align-items: center;
        gap: 2px;
    }

    .product-category,
    .product-dimension,
    .product-status,
    .product-type,
    .product-neighborhood,
    .product-icon,
    .product-list,
    .product-size {
        font-size: 12px;
        font-weight: 400;
    }

    .product-oldPrice {
        font-size: 6px;
    }

    .product-price {
        font-size: 18px;
    }
}

@media (min-width: 1024px) and (max-width: 1240px) {
    .product-list {
        grid-template-columns: repeat(3, 1fr);
    }

    .product-img {
        width: 300px;
        height: 300px;
    }

    .product-infos {
        width: 300px;
    }
}

/* Para telas muito grandes (maiores que 1240px) */
@media (min-width: 1240px) {
    .product-list {
        grid-template-columns: repeat(4, 1fr);
    }

    .product-img {
        width: 290px;
        height: 290px;
    }

    .product-infos {
        width: 290px;
    }
}