.carousel-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(255, 255, 255, 0.8);
    border: none;
    padding: 5px;
    border-radius: 50%;
    cursor: pointer;
    z-index: 3;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease;
}

.carousel-arrow.left {
    left: 10px;
}

.carousel-arrow.right {
    right: 10px;
}

.carousel-arrow:hover {
    background-color: rgba(255, 255, 255, 1);
}

.featured-images .carousel-arrow {
    display: none;
}

.featured-images:hover .carousel-arrow {
    display: flex;
}

.featured-container {
    display: grid;
    justify-content: center;
    align-items: center;
}

.featured-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    cursor: pointer;
    padding: 5px;
}

.featured-images {
    position: relative;
}

.author-avatar {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    object-fit: cover;
    border: 1px solid var(--btn-color-one);
}

.featured-status {
    font-size: 10px;
    position: absolute;
    background: #E9F4FC;
    border-radius: 15px;
    z-index: 1;
    top: 1;
    padding: 5px;
    font-family: var(--main-font);
    font-weight: 700;
    color: var(--btn-color-one);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 5px;
}

.featured-ref {
    font-size: 6px;
    position: absolute;
    z-index: 2;
    padding: 5px;
    font-family: var(--main-font);
    font-weight: 500;
    color: var(--text-color-two);
    white-space: nowrap;
    text-overflow: ellipsis;
    margin: 5px;
    bottom: 0;
}

.featured-img {
    width: 230px;
    height: 230px;
    border-radius: 15px;
    transition: filter 0.3s ease-in-out;
    filter: brightness(0.6);
    object-fit: cover;
    max-width: none;
    margin: 0;
}

.featured-img:hover {
    filter: brightness(0.5);
}

.featured-infos {
    display: flex;
    flex-direction: column;
    font-family: var(--main-font);
    color: var(--text-color-one);
    width: 230px;
}

.featured-city {
    font-family: var(--main-font);
    color: var(--text-color-one);
    font-size: 16px;
    font-weight: 500;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.featured-address {
    font-family: var(--main-font);
    color: var(--text-color-one);
    font-size: 12px;
    font-weight: 400;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.featured-neighborhood {
    font-size: 16px;
    font-weight: 500;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.featured-category {
    font-size: 12px;
    display: flex;
    font-weight: 400;
    text-transform: uppercase;
}

.featured-type {
    display: flex;
    justify-content: start;
    align-items: center;
    font-size: 12px;
    color: var(--text-color-one);
    text-align: center;
    gap: 2px;
}

.featured-dimension {
    display: flex;
    align-items: center;
    gap: 5px;
    font-weight: 600;
}

.featured-icon {
    padding: 2px;
    color: var(--text-color-one);
}

.featured-size {
    font-size: 14px;
    font-weight: 400;
}

.featured-price-mod {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.featured-price {
    color: var(--text-color-one);
    font-family: var(--main-font);
    font-size: 18px;
    font-weight: 600;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.first-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
    width: 100%;
    margin: 3px 0;
}

.infos-profile {
    display: flex;
    align-items: center;
    gap: 5px;
}

.infos-profile p {
    font-size: 14px;
    font-weight: 600;
}

.icon-profile {
    color: var(--btn-color-one);
}

.infos-details {
    display: flex;
    align-items: center;
    gap: 2px;
}

.pagination-dots {
    display: flex;
    justify-content: center;
    margin: 20px;
}

.pagination-dots .dot {
    padding: 5px 10px;
    margin: 0 5px;
    cursor: pointer;
    border-radius: 50%;
    background-color: var(--card-color);
    color: var(--text-color-one);
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-family: var(--main-font);
    font-size: 12px;
}

.pagination-dots .dot.active {
    background-color: var(--btn-color-one);
    color: white;
}

.pagination-dots .dot:hover {
    background-color: #ddd;
}

/* Responsividade */
/* @media (max-width: 1024px) {
    .featured-list {
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
    }

    .featured-img {
        width: 220px;
        height: 220px;
    }

    .featured-infos {
        width: 220px;
    }

    .featured-type {
        font-size: 8px;
        border-radius: 25px;
    }

    .featured-price {
        font-size: 24px;
    }

    .author-name {
        font-size: 12px;
        font-weight: 600;
    }
} */

@media (max-width: 768px) {
    .featured-list {
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
    }

    .featured-img {
        width: 120px;
        height: 120px;
    }

    .featured-infos {
        width: 120px;
    }

    .featured-type {
        font-size: 8px;
        padding: 10px;
        border-radius: 25px;
    }

    .featured-price {
        font-size: 24px;
    }

    .pagination-dots {
        margin-top: 20px;
    }
}

@media (max-width: 480px) {
    .featured-card {
        border-radius: 5px;
        margin: 0;
    }

    .featured-img {
        width: 170px;
        height: 170px;
        border-radius: 10px;
    }

    .featured-infos {
        width: 170px;
        justify-content: start;
    }

    .featured-address {
        font-size: 12px;
    }

    .infos-details {
        flex-direction: row !important;
        justify-content: start;
        align-items: start;
    }

    .featured-category,
    .featured-dimension,
    .featured-type,
    .featured-neighborhood,
    .featured-icon,
    .featured-list,
    .featured-size {
        font-size: 12px;
        font-weight: 400;
        text-align: start;
        padding: 0;
    }

    .featured-price {
        font-size: 18px;
    }

    .featured-list {
        height: 80vh;
        overflow: hidden;
    }

    .infos-profile p {
        font-size: 10px;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    .featured-list {
        grid-template-columns: repeat(3, 1fr);
    }

    .featured-img {
        width: 140px;
        height: 140px;
    }

    .featured-infos {
        width: 140px;
        justify-content: center;
    }

    .infos-details {
        width: 140px;
        align-items: center;
        gap: 2px;
    }

    .featured-category,
    .featured-dimension,
    .featured-status,
    .featured-type,
    .featured-neighborhood,
    .featured-icon,
    .featured-list,
    .featured-size {
        font-size: 12px;
        font-weight: 400;
    }

    .featured-price {
        font-size: 18px;
    }
}

@media (min-width: 1024px) and (max-width: 1240px) {
    .featured-list {
        grid-template-columns: repeat(3, 1fr);
    }

    .featured-img {
        width: 180px;
        height: 180px;
    }

    .featured-infos {
        width: 180px;
    }
}

@media (max-width: 240px) {
    .featured-list {
        grid-template-columns: repeat(2, 1fr);
    }

    .featured-img {
        width: 120px;
        height: 120px;
    }

    .featured-infos {
        width: 120px;
    }
}