.video-list-container {
    padding: 2rem;
    margin-top: 2rem;
    background-image: url("../../assets/image/banner-garnaut-youtube.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-around;
    font-family: var(--main-font);
    width: 80%;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.video-list-heading {
    text-align: center;
    font-size: 34px;
    font-weight: 600;
    color: var(--text-color-two);
    margin-bottom: 20px;
}

.video-list {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;

}

.video-card {
    border-radius: 8px;
    display: flex;
    justify-content: center;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border: 1px solid #e0e0e021;
}

.video-iframe {
    border: none;
    border-radius: 8px;
    width: 450px;
    height: 200px;
}

.no-videos {
    text-align: center;
    color: var(--text-color-two);
    font-size: 18px;
}

.cta-infos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.cta-container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}

@media (max-width: 768px) {
    .video-card {
        flex: 1 0 45%;
    }
}

@media (max-width: 480px) {
    .video-list-container {
        width: 98%;
        border-radius: 10px;
    }

    .video-card {
        flex: 1 0 100%;
    }
}

.cta-container {
    text-align: center;
}

.video-list-heading {
    font-size: 24px;
    font-weight: 500;
    margin: 0;
}

.cta-text {
    font-size: 14px;
    font-weight: 300;
    color: var(--text-color-two);
    margin-bottom: 20px;
}

.cta-button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: 500;
    background-color: var(--text-color-three);
    color: var(--text-color-one);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-family: var(--main-font);
}

.btn-cta {
    display: flex;
    text-decoration: none;
    justify-content: center;
    margin-top: 4rem;
}

.cta-button:hover {
    background-color: var(--text-color-opa);
}

.cta-button:focus {
    outline: none;
}

@media (max-width: 1024px) {
    .video-list-container {
        width: 95%;
    }

    .video-card {
        width: 160px;
    }
}