/* Container do Filtro */
.filter-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: var(--main-font);
    margin-top: 2rem;
}

.filter-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
    flex-wrap: wrap;
}

.filter-card {
    border-top: 20px solid var(--btn-color-one);
    background-image: url("../../assets/image/mapa-arnaut.png");
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    background-position: center;
    background-size: cover;
    padding: 1rem;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    position: relative;
    width: 80%;
}

.filter-header {
    text-align: start;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    width: 100%;
}

.logo-filter {
    width: 100px;
    position: absolute;
    top: 10%;
    right: 5%;
}

.filter-title {
    font-size: 32px;
    font-weight: 600;
    color: #333;
    margin: 0;
}

.filter-description {
    font-size: 16px;
    color: #555;
}

.filter-item {
    margin-bottom: 1rem;
    width: 100%;
    max-width: 400px;
}

.filter-label {
    font-size: 14px;
    font-weight: 500;
    color: #333;
    margin-bottom: 5px;
}

.filter-in {
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ddd;
    font-size: 12px;
    color: #333;
}

.filter-in:focus {
    border-color: #007bff;
    outline: none;
}

.filter-submit-button {
    padding: 12px;
    background-color: var(--btn-color-one);
    display: flex;
    align-items: center;
    gap: 25px;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 18px;
    font-weight: 300;
    cursor: pointer;
    transition: background-color 0.3s;
}

.filter-submit-button:hover {
    background-color: #0056b3;
}

/* Responsividade para telas menores */
@media (max-width: 1024px) {
    .filter-content {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    .filter-submit-button {
        font-size: 12px;
        right: 5%;
    }

    .filter-card {
        width: 95%;
    }

    .filter-header .filter-title {
        font-size: 24px;
    }

    .filter-header .filter-description {
        font-size: 14px;
    }

    .filter-item {
        width: 100%;
    }

    .filter-in {
        font-size: 12px;
    }

}

@media (max-width: 768px) {
    .filter-container {
        height: auto;
    }

    .filter-content {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .filter-card {
        max-width: 100%;
        padding: 1rem;
    }

    .filter-submit-button {
        font-size: 14px;
        bottom: -100px;
        right: 10%;
        justify-content: center;
    }

    .filter-title {
        font-size: 18px;
    }

    .filter-description {
        font-size: 14px;
    }
}

@media (max-width: 480px) {
    .filter-container {
        padding: 0;
    }
    
    .filter-submit-button {
        font-size: 12px;
        padding: 10px;
        gap: 5px;
        font-weight: 600;
        font-family: var(--main-font);
        width: auto;
        bottom: -56%;
    }

    .filter-content {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .filter-card {
        padding: 1rem;
        width: 98%;
        border-radius: 10px;
    }

    .logo-filter {
        width: 60px;
    }

    .filter-title {
        font-size: 16px;
    }

    .filter-in {
        font: 12px;
    }

    .filter-description {
        font-size: 12px;
    }
}