/* Container para o formulário */
.add-product-container {
  padding: 20px;
  max-height: 600px;
  /* Define a altura máxima do card */
  overflow-y: auto;
  /* Barra de rolagem será exibida quando o conteúdo exceder o tamanho */
  border-radius: 10px;
  /* Arredondando os cantos do card */
  background-color: #fff;
  /* Fundo branco para o card */
}

/* Personalizando a barra de rolagem */
.add-product-container::-webkit-scrollbar {
  width: 10px;
  /* Largura da barra de rolagem */
}

.add-product-container::-webkit-scrollbar-thumb {
  background-color: var(--btn-color-one);
  /* Cor personalizada da barra de rolagem */
  border-radius: 10px;
  /* Arredondando as bordas da barra */
}

.add-product-container::-webkit-scrollbar-track {
  background: #f1f1f1;
  /* Cor de fundo da trilha da barra de rolagem */
  border-radius: 10px;
  /* Arredondando as bordas da trilha */
}

/* Container para a imagem e o input */
.image-upload-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

/* Botão personalizado */
.custom-file-input {
  display: inline-block;
  padding: 15px;
  width: 100%;
  background-color: var(--text-color-one);
  color: white;
  border-radius: 10px;
  cursor: pointer;
}

/* Oculta o input original */
.form-input-file {
  display: none;
}

/* Previews das imagens */
.image-preview {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.image-thumbnail {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 8px;
}

/* Estilo para o formulário e seus campos */
.add-product-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product-logo {
  width: 120px;
}

.form-title {
  font-size: 24px;
  font-weight: bold;
  font-family: var(--main-font);
  color: var(--text-color-one);
}

.form-content {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.form-group {
  display: flex;
  flex-direction: column;
  font-family: var(--main-font);
  color: var(--text-color-one);
}

.form-label {
  font-weight: bold;
  margin-bottom: 5px;
}

.form-input,
.form-textarea {
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  border: none;
  background: var(--text-color-two);
  font-size: 16px;
}

.form-textarea {
  height: 100px;
}

.form-button {
  padding: 15px;
  background-color: var(--btn-color-one);
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  font-family: var(--main-font);
  cursor: pointer;
}

.form-button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}