.nav-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: var(--btn-color-one);
}

.top-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 65%;
    font-family: var(--main-font);
}

.bander-icon {
    width: 20px;
    display: flex;
}

.nav-logo-name-list {
    display: flex;
    align-items: center;
    gap: 10px;
}

.nav-logo-name-list h5 {
    font-size: 24px;
    font-weight: 200;
    color: var(--text-color-two);
}

.top-item-text {
    font-size: 16px;
    padding: .5rem;
    font-weight: 400;
    display: flex;
    align-items: center;
    gap: 8px;
    color: var(--text-color-two);
}

.top-item {
    font-size: 16px;
    padding: .5rem;
    font-weight: 400;
    display: flex;
    align-items: center;
    gap: 4px;
    color: var(--text-color-three);
}

.top-item-phone {
    font-size: 16px;
    padding: .5rem;
    font-weight: 400;
    display: flex;
    align-items: center;
    text-decoration: none;
    gap: 4px;
    color: var(--text-color-three);
    transition: 250ms;
}

.top-item-phone:hover {
    color: rgb(221, 221, 221);
}

.top-local {
    color: var(--text-color-three);
    font-weight: 500;
}

.top-icon {
    color: var(--text-color-three);
}

.nav-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 80vw;
}

.nav-logo-item {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-icon, .nav-menu-icon {
    display: none;
}

.nav-logo {
    width: 70px;
}

.nav-unorderd-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    transition: all 0.4s ease;
    margin: 0;
    font-family: var(--main-font);
    font-size: 16px;
    font-weight: 400;
    width: 100%;
    z-index: 5;
}

.nav-profile {
    display: flex;
    align-items: center;
    gap: 10px;
    background: var(--card-color);
    padding: 1px;
    border-radius: 25px;
}

.nav-profile p {
    color: var(--text-color-one);
    font-weight: 500;
    font-size: 14px;
}

.sticky {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transform: translateY(0);
    transition: all 0.4s ease;
    background: var(--btn-color-one);
    display: flex;
    justify-content: space-around;
    
}

.sticky-content {
    width: 80vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 20px;
}

.nav-link-item {
    text-decoration: none;
    color: var(--text-color-two);
    font-weight: 300;
    position: relative;
    display: inline-block;
    padding-bottom: 5px;
    transition: color 0.3s ease, border-bottom 0.3s ease;
}

.nav-link-item.active {
    color: var(--text-color-two);
    border-bottom: 1px solid var(--text-color-two);
}

.nav-link-item:not(.active) {
    color: var(--text-color-two);
    border-bottom: 2px solid transparent;
}



.nav-link-login, .nav-link-register {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--text-color-two);
    transition: 250ms;
    font-size: 14px;
    font-weight: 400;
}

.nav-link-login:hover, .nav-link-register:hover {
    color: rgb(221, 221, 221);
}

.nav-links {
    display: flex;
    gap: 2rem;
}

.nav-btn {
    display: flex;
    gap: 2rem;
}

.nav-welcome {
    color: var(--btn-color-one);
}

.nav-link-name {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    padding: 5px;
    font-weight: 500;
    color: var(--text-color-two);
}

.logout-button {
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 400;
    cursor: pointer;
    text-decoration: none;
    color: var(--text-color-two);
}

@media (max-width: 480px) {
    .nav-content {
        width: 95%;
    }
}

@media (max-width: 768px) {
    .side-user {
        display: flex;
        justify-content: space-between;
        border-radius: 10px;
        padding: 0.8rem;
        background: var(--btn-color-one);
        color: var(--text-color-two);
        text-decoration: none;
        z-index: 10;
    }

    .user-infos {
        display: flex;
        align-items: center;
        gap: .2rem;
        color: var(--text-color-two);
    }

    .info-user {
        display: flex;
        flex-direction: column;
        justify-content: center;
        color: var(--text-color-two);
    }

    .nav-link-name-side {
        display: flex;
        justify-content: space-between;
        color: var(--text-color-two);
        font-family: var(--main-font);
        font-size: 14px;
        font-weight: 600;
        margin: 0;
    }

    .nav-link-email-side {
        color: var(--text-color-two);
        opacity: 0.5;
        font-size: 12px;
        margin: 0;
    }

    .logout-button-side {
        display: flex;
        align-items: center;
        text-decoration: none;
        gap: 5px;
        color: var(--text-color-one);
        font-family: var(--main-font);
    }

    .menu-icon {
        display: block;
        padding: 1rem;
    }

    .sidebar {
        position: fixed;
        top: 0;
        left: -250px;
        width: 250px;
        height: 100%;
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        transition: 0.3s ease;
        z-index: 10;
    }

    .sidebar.open {
        left: 0;
    }

    .sidebar-list {
        list-style: none;
        padding: 0;
        background-image: url("../../assets/image/garnaut-gray-logo-icon.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 100%;
        opacity: 2;
        background: var(--bg-color-side);
        padding: .5rem;
    }

    .side-links {
        display: flex;
        align-items: center;
        gap: 1rem;
        background: var(--card-color);
        width: 100%;
    }



    .sidebar-link-item:hover {
        color: #304275;
    }

    .overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background: rgba(0, 0, 0, 0.5);
        z-index: 1;
    }

    .side-items-one-log {
        color: var(--text-color-two);
        border-radius: 10px;
    }

    .top-nav {
        display: none;
    }

    .nav-logo-item {
        width: 100%;
        justify-content: space-between;
    }

    .nav-logo-img {
        width: 7rem;
        position: absolute;
        left: 40%;
    }

    .nav-unorderd-list {
        display: none;
    }

    .nav-menu-icon {
        display: block;
        cursor: pointer;
        font-size: 30px;
        color: var(--text-color-two);
        margin-top: 1rem;
    }

    .sidebar {
        display: block;
        z-index: 1;
        background: var(--card-color);
    }

    .sidebar-list {
        display: flex;
        flex-direction: column;
        font-family: var(--main-font);
        gap: 5px;
    }

    .icon-name-side {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }

    .icon-name-side-log {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        color: var(--text-color-one);
    }

    .sidebar-link-item {
        font-size: 14px;
        font-weight: 500;
        color: var(--text-color-one);
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 1rem;
        text-decoration: none;
        padding: .8rem;
        border-radius: 5px;
    }

    .side-items-one {
        display: flex;
        flex-direction: column;
        background: var(--card-color-side);
        border-radius: 10px;
        margin: .2rem 0;
    }

    .side-items-two {
        display: flex;
        flex-direction: column;
        background: var(--card-color-side);
        border-radius: 10px;
    }

    .side-items-three {
        display: flex;
        flex-direction: column;
        background: var(--card-color-side);
        border-radius: 10px;
    }

    .side-link-item {
        color: var(--btn-color-one);
        display: flex;
        font-family: var(--main-font);
        gap: 5px;
        text-decoration: none;
        font-size: 14px;
        padding: 5px;
    }

    .nav-logo-img-side {
        width: 8rem;
    }

    .sidebar-link-item-logout {
        font-size: 14px;
        font-weight: 500;
        color: var(--text-color-two);
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 1rem;
        text-decoration: none;
        padding: .8rem;
        border-radius: 10px;
        background: var(--card-color-side-log);
    }

    .sidebar-link-item-adm {
        font-size: 14px;
        font-weight: 500;
        color: var(--text-color-one);
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 1rem;
        text-decoration: none;
        padding: .8rem;
        border-radius: 10px;
    }
}

@media (min-width: 769px) {
    .nav-menu-icon {
        display: none;
    }

    .sidebar {
        display: none;
    }
}