.banner-container {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    margin-top: 2rem;
    background-image: url("../../assets/image/g-arnaut-banner.png");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 15px;
    padding: 4rem;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.banner-logo {
    width: 150px;
}

.banner-ap {
    width: 25vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.banner-ap h3 {
    color: var(--text-color-two);
    font-size: 24px;
}

.banner-ap h3 span {
    color: var(--text-color-three);
}

.banner-ap p {
    font-size: 14px;
    color: var(--text-color-two);
    font-family: var(--main-font);
    margin-top: 1rem;
    font-weight: 300;
}

.icons-banner {
    display: flex;
    gap: 10px;
}

.banner-icon {
    color: var(--text-color-two);
    margin-top: 1rem;
}

.txt-infos {
    display: flex;
    gap: 5px;
}

.txt-infos p {
    font-size: 15px;
    font-weight: 300;
}

.banner-infos {
    display: flex;
    flex-direction: column;
    padding-right: 20px;
    z-index: 4;
}

.info-card {
    margin-bottom: 20px;
}

.banner-item {
    background-position: center;
    background-size: cover;
    width: 550px;
    height: 500px;
    opacity: 0;
    transition: 5s ease;
    border-radius: 10px;
    position: absolute;
    right: 13%;
}

.banner-item.active {
    opacity: 1;
    z-index: 1;
}

.banner-item.hidden {
    opacity: 0;
    z-index: 0;
}

.txt-banner {
    font-size: 100px;
    font-weight: 400;
    color: var(--text-color-two);
    margin: 0;
}

.cap-banner {
    font-size: 40px;
    font-weight: 300;
    color: var(--text-color-two);
}

.banner-link {
    position: absolute;
    bottom: 5%;
    right: 5%;
    background: #fff;
    text-decoration: none;
    display: flex;
    align-items: center;
    padding: 10px;
    font-weight: 800;
    color: #363636;
    border-radius: 30px;
    transition: 100ms;
    font-size: 12px;
    z-index: 1;
}

.banner-link:hover {
    background: #ddd;
}

@media (max-width: 1024px) {
    .banner-container {
        padding: 1rem;
        width: 95%;
    }

    .banner-infos {
        width: 70%;
    }

    .txt-banner {
        font-size: 60px;
    }

    .cap-banner {
        font-size: 35px;
    }

    .banner-item {
        margin-top: 20px;
        width: 20vw;
        height: 30vh;
    }

    .filter {
        width: 100vw;
        top: 35%;
    }

    .banner-ap {
        width: 45vw;
    }

    .banner-ap p {
        font-size: 12px;
    }

    .banner-ap h3 {
        font-size: 16px;
    }

    .banner-logo {
        width: 100px;
    }
}

@media (max-width: 768px) {
    .banner-container {
        height: 100vh;
        width: 100%;
        border-radius: 10px;
        background-position: center;
        gap: 10px;
    }

    .banner-ap {
        width: 100vw;
    }

    .banner-ap p {
        font-size: 8px;
    }

    .banner-ap h3 {
        font-size: 12px;
    }

    .banner-logo {
        width: 50px;
    }

    .banner-infos {
        width: 70%;
    }

    .txt-banner {
        font-size: 60px;
    }

    .cap-banner {
        font-size: 30px;
    }

    .banner-item {
        margin-top: 10px;
        height: 50%;
        width: 95vw;
    }

    .dots-container {
        bottom: 5px;
    }

    .filter {
        position: relative;
        width: 92vw;
        top: 35%;
    }

    .banner-link {
        font-size: 10px;
        padding: 8px;
    }
}

@media (max-width: 480px) {
    .banner-container {
        background: #000;
        height: 60vh;
        width: 98%;
        border-radius: 10px;
        margin: 16px 0;
    }

    .txt-banner {
        font-size: 40px;
    }

    .cap-banner {
        font-size: 20px;
    }

    .banner-item {
        width: 100vw;
        height: 40vh;
    }

    .filter {
        width: 100%;
    }

    .banner-link {
        font-size: 8px;
        padding: 6px;
    }
}